body{
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title,
.project-title{
    color: #1AC2F7;
    text-align: center;
}

.title{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    
}

.project{
    border: 1px black solid;
    border-radius: 27px;
    width: 820px;
    margin: 32px;
}

.project-title{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    margin: 16px;
}

.project-due{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}