body{
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.title,
.project-title,
.modal-title{
    color: #1AC2F7;
    text-align: center;
}

.title{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin: 32px;
}

#add-project:hover{
    cursor: pointer;
}

.project{
    border: 1px black solid;
    border-radius: 27px;
    width: 820px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 16px;
}

.empty-project{
    border: 1px black solid;
    border-radius: 27px;
    width: 820px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 16px;
}

.project-title{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    margin: 8px;
}

.project-due{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin: 8px;
}

.project-add-task{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    margin-top: 16px;
}

.project-add-task:hover{
    cursor: pointer;
}

.modal-field{
    font-size: 24px;
    margin: 16px;
    width: 290px;
}

.modal{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 1;
}

.modal-box{
    position: absolute;
    width: 455px;
    height: 365px;
    left: 455px;
    top: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;

    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.modal-title{
    font-size: 24px;
}
.delete:hover{
    cursor: pointer;
}

.button {
    font-size: 28px;
    color: white;
    width: 147px;
    height: 48px;
    left: 611px;
    top: 433px;
    text-align: center;
    background: #8DDAF2;
    box-sizing: border-box;
    padding: 8px;
}
.button:hover{
    cursor: pointer;
}

#open-project-modal:hover{
    cursor: pointer;
}

.checkbox{
    font-size: 24px;
    margin: 8px;
    position: relative;
    left: 256px;
    align-self: flex-start;
}

input[type='checkbox'] { 
    margin: 8px 16px;
}
